<ion-app>
  <ion-header>
    <ion-toolbar class="navbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="brand">
        <img src="assets/icon/favicon.png" alt="logo" />
        <ion-title>Demo Pelis</ion-title>
      </div>
      <ion-buttons slot="end">
        <ion-button routerLink="/pages/home">Inicio</ion-button>
        <ion-button routerLink="/pages/lista-peliculas">Películas</ion-button>
        <ion-button routerLink="/pages/agregar-pelicula">Agregar</ion-button>
        <ion-button routerLink="/pages/login">Acceso</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- global menu (available in all pages) -->
  <ion-menu [type]="menuType" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-button routerLink="/pages/home">Inicio</ion-button>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-button routerLink="/pages/lista-peliculas">Películas</ion-button>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-button routerLink="/pages/agregar-pelicula">Agregar película</ion-button>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-button routerLink="/pages/login">Iniciar sesión</ion-button>
      </ion-menu-toggle>
      <hr />

    </ion-content>
  </ion-menu>

  <div>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </div>
</ion-app>
